
    // NEUTRAL //
$clr-100 : hsl(0, 0%, 98%);
$clr-200 : hsl(0, 0%, 41%);
$clr-300 : hsl(0, 0%, 8%);

$ff-1 : 'Epilogue', sans-serif;

$fs-1 : 18px;

$fw-1 : 500; 
$fw-2 : 700; 

$flx : flex; $grd : grid ;
$clmn : column ; $rw : row;
$cntr : center; $strt : start; $end : end; $btwn : space-between; $arnd : space-around; $evnly : space-evenly;

